<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="https://www.github.com/jmuhlenberg">Github</a></li>
        </ul>
    </div>
</nav>
