<h1>JohnsList</h1>
<nav>
  <a href="/home/">Home</a>
  <% if(currentUser) {%>
    <h5>Welcome <%=currentUser.username%></h5>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
  <% } else { %>
    <a href="/">Log In</a>
    <a href="/sessions/new">Sign Up</a>
  <% } %>
</nav>
