<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>JohnsList - Home Page</title>
  </head>
  <header>
    <%- include ('../partials/background3.ejs') %>
    <%- include ('../partials/header.ejs') %>
  </header>
  <body>
    <div class="uk-container">
      <div class="uk-card uk-card-default uk-card-body uk-padding uk-margin">
        <h1>About JohnsList:</h1>
        <span>This is my second project completed through the General Assembly Software Engineering bootcamp.</span>

        <h2>Project Details & Instructions</h2>
        <p>For this project, we were required to make a full CRUD (with all 7 RESTful routes) application using Node.js, Mongoose, Express, and EJS and host the application publicly via Heroku.

        I was drawn to developing an application similar to Craigslist, but focusing the demographic to skiers and snowboarders trying to sell their secondhand goods. To style the application I used Uikit. It stood out to me because of its large number of features as well as its clean, elegant, and minimalist design.
        <br/>
        <br/>
        Credit: <a href="https://www.getuikit.com">Uikit</a></p>

        <h4>Using the site:</h4>
        <p>After traveling to the main page, you are asked to log in. And if you don't have a log in, simply sign up. Logging in gives you the ability to add, edit, and delete items from the database. If you do not log in you are still able to view the products and "contact the seller."</p>


        <h2>The Challenges</h2>
        <p>Overall, the challenges I faced were with proper routing. Once that was figured out the rest was fairly straight forward.

        For this project, I focused on finishing the functionality of the application before stylizing it. Typically I'm an aesthetic person and need something pleasing to look at and changing my thought process at first was very difficult. But, this proved to be very helpful. After locking the functionality down, I could focus all my effort on stylizing. This turned out to be a better workflow and I will continue to use this moving forward.</p>



        <h2>Areas of Improvement</h2>
        <p>The next area I would improve upon would be the 'contact seller' button on the show pages. I would like this to function like Craigslist in that it will send an email to the seller. This would require me to ask for the users email during sign up.</p>

      </div>
    </div>
    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
