<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title>JohnsList - Sign Up Page</title>
  </head>
  <header>
    <%- include ('../partials/background.ejs') %>
    <%- include ('../partials/header.ejs') %>
  </header>
  <body>
    <br/>
    <div class='uk-container'>
      <h1 class='uk-text-center'>Welcome to JohnsList!</h1>
      <div class="uk-container uk-container-xsmall">
        <form action="/users" method="POST">
          <input class='uk-input' type="text" name="username" placeholder="username"><br/>
          <input class='uk-input' type="password" name="password" placeholder="password"><br/>
          <input class='uk-align-center uk-button uk-button-primary' type="submit" value="Sign Up">
        </form>
      </div>
    </div>
    <footer class='uk-position-bottom'>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
</html>
